<div *ngIf='!adventurethrillermovie && !errorStr'>Loading</div>
<div *ngIf='errorStr' class='text-center'><h1>{{ errorStr }}</h1></div>
<div *ngIf='adventurethrillermovie'>
    <h1>{{ adventurethrillermovie.name }}</h1>
    <hr/>
    <div style="position:relative;height:0,padding-bottom 56.25%"  *ngIf='adventurethrillermovie.embed'>
         <iframe width="560" height="650" [src]="getEmbedUrl(adventurethrillermovie) | safe: 'resourceUrl'" frameborder="0" style="position:absolute;width:100%;height:100%,left 0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class='text-center' *ngIf='adventurethrillermovie.image && !adventurethrillermovie.embed'>
    	<img class='img-responsive img-center' [src]='adventurethrillermovie.image' alt="{{ adventurethrillermovie.name }}  image"/>
    </div>

</div>
