<div *ngIf='!comedythrillermovie && !errorStr'>Loading</div>
<div *ngIf='errorStr' class='text-center'><h1>{{ errorStr }}</h1></div>
<div *ngIf='comedythrillermovie'>
    <h1>{{ comedythrillermovie.name }}</h1>
    <hr/>
    <div style="position:relative;height:0,padding-bottom 56.25%"  *ngIf='comedythrillermovie.embed'>
         <iframe width="560" height="650" [src]="getEmbedUrl(comedythrillermovie) | safe: 'resourceUrl'" frameborder="0" style="position:absolute;width:100%;height:100%,left 0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class='text-center' *ngIf='comedythrillermovie.image && !comedythrillermovie.embed'>
    	<img class='img-responsive img-center' [src]='comedythrillermovie.image' alt="{{ comedythrillermovie.name }}  image"/>
    </div>

</div>


<div *ngIf='!comedyrealmovie && !errorStr'>Loading</div>
<div *ngIf='errorStr' class='text-center'><h1>{{ errorStr }}</h1></div>
<div *ngIf='comedyrealmovie'>
    <h1>{{ comedyrealmovie.name }}</h1>
    <hr/>
    <div style="position:relative;height:0,padding-bottom 56.25%"  *ngIf='comedyrealmovie.embed'>
         <iframe width="560" height="650" [src]="getEmbedUrl(comedyrealmovie) | safe: 'resourceUrl'" frameborder="0" style="position:absolute;width:100%;height:100%,left 0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class='text-center' *ngIf='comedyrealmovie.image && !comedyrealmovie.embed'>
    	<img class='img-responsive img-center' [src]='comedyrealmovie.image' alt="{{ comedyrealmovie.name }}  image"/>
    </div>

</div>