
  <!-- <p *ngIf='tokenExists'>
    You are already logged in! Would you like to <a routerLink='/logout/'>LOGOUT</a>?
  </p> -->
  <div class="login" >
    <h2   class="login-header">Password Reset</h2>
    <form [formGroup]="resetForm" class="login-container" (ngSubmit)="resetFormSubmit()">
      <div class="alert  alert-danger" role="alert" *ngIf = "error">
        {{error}}
      </div>
      <div class="alert  alert-success" role="alert" *ngIf = "success">
        {{success}}
      </div>

        <div class="form-row">
            <div class="col-12">
                <label style="font-weight: bold; text-transform: capitalize;" >{{secretquestion}} ?</label>
                <input type="text" placeholder="Answer" autocomplete="off"  class="form-control" formControlName="secretanswer">
              </div>
          </div>
        <div class="form-row" style="margin-top: 10px;">
        <div class="form-group col-6">
          <label style="font-weight: bold;">Password</label>
          <input type="password" class="form-control" formControlName="new_password1">
        </div>
        <div class="form-group col-6">
          <label style="font-weight: bold;">Confirm Password</label>
          <input type = "password" id="inputState" class="form-control" formControlName="new_password2">
        </div>
      </div>
      <div class="form-row" style="margin-top: 10px;">
          <div class="col-6" >
            <button  type="submit"  class="btn btn-success" text="Login">Reset Password</button>
          </div>
      </div>
    </form>
  </div>
 