<h1 class='h1' style="text-align:center">
  REGISTER
</h1>
<!-- <div class="register">
  <h2 class="register-header">Enter Your Details</h2>
  <form *ngIf='!registerData && !tokenExists' [formGroup]="registerForm" class="register-container" (ngSubmit)="addUser()"> -->
    <!-- <p *ngIf='registerErrors'>{{ registerErrors }}</p> -->
    <!-- <p [ngClass]="{ 'is-invalid': isSubmitted && formControls.username.errors }">
    <input type="text" placeholder="Enter Username" formControlName="username">
   </p>
    <div *ngIf="isSubmitted && formControls.username.errors" class="invalid-feedback">
      <div *ngIf="formControls.username.errors.required">Username is required</div>
      <div *ngIf="formControls.username.errors.maxlength">Max length is 280</div>
      <div *ngIf="formControls.username.errors.minlength">Min length is 4</div>
    </div>
    <p [ngClass]="{ 'is-invalid': isSubmitted && formControls.email.errors }">
      <input type="text" placeholder="Enter Email" formControlName="email">
    </p>  
    <div *ngIf="isSubmitted && formControls.email.errors" class="invalid-feedback">
      <div *ngIf="formControls.email.errors.required">Email is required</div>
      <div *ngIf="formControls.email.errors.maxlength">Max length is 280</div>
      <div *ngIf="formControls.email.errors.minlength">Min length is 4</div>
    </div>
    <p [ngClass]="{ 'is-invalid': isSubmitted && formControls.password.errors }">
      <input type="password" placeholder="Enter Password" formControlName="password">
    </p>  
    <div *ngIf="isSubmitted && formControls.password.errors" class="invalid-feedback">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
      <div *ngIf="formControls.password.errors.maxlength">Max length is 280</div>
      <div *ngIf="formControls.password.errors.minlength">Min length is 4</div>
    </div>
    <p [ngClass]="{ 'is-invalid': isSubmitted && formControls.password2.errors }">
    <input type="password" placeholder="Confirm Password" name="password2" formControlName="password2">
    </p>
    <div *ngIf="isSubmitted && formControls.password2.errors" class="invalid-feedback"> -->
    <!-- <div class="alert-danger errormessageadduser" *ngIf="registerForm.hasError('mismatchedPasswords')">                                  Passwords do not match -->
      <!-- <div *ngIf="formControls.password2.errors.required">Confirm Password is required</div>
      <div *ngIf="formControls.password2.errors.maxlength">Max length is 280</div>
      <div *ngIf="formControls.password2.errors.minlength">Min length is 4</div>
      <div class="alert-danger errormessageadduser" *ngIf="formControls.password2.errors.mustMatch"> Passwords do not match</div> -->
  <!-- </div> -->
<!-- </div>
    
<br/>
<br/>
  <p>
      <input type="submit">
      <span *ngIf="didRegister">Sign Up</span>
  </p>
  <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
            Already have an account? 
        <a routerLink="/login">
            Log in Here
        </a>
  </div>
    </form>
</div>  -->
 
