<div class ="aboutus-section">

<h2>About Us</h2>


<p>3Smartsflix Tv is an online video streaming Over The Top (OTT) platform. We are not just an OTT platform, infact OTT is the least of all our areas of expertise. At 3Smartsflix Limited we develop, produce and distribute only 3D Animated movies own by the Company through our brand platform "3Smartsflix". As a Company we truly believe so much in quality production and captivating stories, and to achieve our goal, seasoned 3D professionals and story writers were employed. At 3Smartsflix the entertainment and amazing experience of our esteemed customers is our priority, so our customers can watch our movies in different languages using our rich features language navigational tools. 
</p>

<h2>Who we are</h2>

<p>Columbus Travel Media (CTM) is one of the most respected and successful names in the global travel industry, with a long and rich company heritage spanning 30 years. The definitive resource for global travel content, its reputation has been built on journalistic credibility. CTM is dedicated to the provision of objective, accurate, informative and reliable travel content in various formats, including the World Travel Guide for consumers, Columbus Travel Professional for travel industry professionals and extensive licensed and bespoke content for commercial partners through its specialist division, Columbus Content Solutions. A fast-growing, pioneering and diverse global travel content business, contact us to find out more about us.</p>

<h2>Our Team</h2>

<p>We’ve been travelling the world for over 30 years, building a reputation for providing quality travel content that’s inspiring, engaging and informative. With all of our guides and features written and updated by a global network of expert travel writers that includes some of the best names in the business, we pride ourselves on producing content that stands out from the crowd.</p>

</div>

















block content
      h6.body(id='hero') 3Smartsflix Tv is an online video streaming Over The Top (OTT) platform. We are not just an OTT platform, infact OTT is the least of all our areas of expertise. At 3Smartsflix Limited we
      h6.body(id='hero') develop, produce and distribute only 3D Animated movies own by the Company through our brand platform "3Smartsflix". As a Company we truly believe so much in quality production
      h6.body(id='hero') and captivating stories, as result of this, capable 3D professionals and story writers were employed to bring our vision into reality.
      br
      h6.body(id='hero') At 3Smartsflix the entertainment and amazing experience of our esteemed customers is our priority, so our customers can watch our movies in different languages using our rich features 
      h6.body(id='hero') language navigational tools, so here in 3Smartsflix it is unlimited entertainment that sounds like home. Our user experience is friendly and comfortable with highly advanced 3D Animation
      h6.body(id='hero') video streaming technology at amazing speed and crystal clear sounds.
      br
      h6.body(id='hero') The platform offers useful feature tools which are settings, seamless video playback, smart content search, language navigation tool, video quality settings and much more so as to create
      h6.body(id='hero') an amazing experience for our esteemed customers. All you need to make it happens, is a compatible connected device (mobile, computer system, smart tvs).
      br
      h6.body(id='hero') Our functional web application can be accessed at www.3smartsflix.com, mobile application and Tv application can be downloaded from Google Play Store and Apple App Store while Smart Tv application can be downloaded from Tizen app store, LG app store and Samsung app store. Once again take a sit as we take you on sweet journey to the Home of 3D Animation Entertainment.              
